<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->

 <!-- BEGIN HEAD -->
<head>
     <meta charset="UTF-8" />
    <title>Online Judge</title>
     <meta content="width=device-width, initial-scale=1.0" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />
     <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->
    <!-- GLOBAL STYLES -->
    <!-- GLOBAL STYLES -->
    <link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="assets/css/main.css" />
    <link rel="stylesheet" href="assets/css/theme.css" />
    <link rel="stylesheet" href="assets/css/MoneAdmin.css" />
    <link rel="stylesheet" href="assets/plugins/Font-Awesome/css/font-awesome.css" />
    <!--END GLOBAL STYLES -->

    <!-- PAGE LEVEL STYLES -->
    <link href="assets/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="assets/plugins/social-buttons/social-buttons.css">
    <!-- END PAGE LEVEL  STYLES -->
       <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
     <!-- END HEAD -->
     <!-- BEGIN BODY -->
<body class="padTop53 " >

     <!-- MAIN WRAPPER -->
    <div id="wrap">


      {{template "header"}}
      {{template "menu" .}}

        <!--PAGE CONTENT -->
        <div id="content">

            <div class="inner">
                <div class="row">
                    <div class="col-lg-12">
                        <h2> Group Progress </h2>
                    </div>
                </div>
                <hr />
                
                <div class="row">
                  <div class="col-lg-3">
                      <form action="?" method="GET">
                          <label>User id: </label>
                          <input type="number" name="id" id="user-id" class="form-control"/>
                          <button type ="submit" class="btn btn-info btn-md" id="userid-btn" value="Show"> Show</button>
                    </form>
                      
                  </div>
                </div>
                
                <hr />
                
                
                <div class="row" id="charts">
                    
                </div>
                  
            </div>
        </div>




        </div>
       <!--END PAGE CONTENT -->


    </div>

     <!--END MAIN WRAPPER -->

      {{template "footer"}}

     <!-- GLOBAL SCRIPTS -->
    <script src="assets/plugins/jquery-2.0.3.min.js"></script>
     <script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/plugins/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    <!-- END GLOBAL SCRIPTS -->
        <!-- PAGE LEVEL SCRIPTS -->
    <script src="assets/plugins/dataTables/jquery.dataTables.js"></script>
    <script src="assets/plugins/dataTables/dataTables.bootstrap.js"></script>
     <script>
         $(document).ready(function () {
             $('#dataTables-example').dataTable();
         });
       </script>
          
		<script src="assets/plugins/morris/raphael-2.1.0.min.js"></script>
    <script src="assets/plugins/morris/morris.js"></script>
    
    <script>
        // Load the graphics
        
        var getUrlParameter = function getUrlParameter(sParam) {
            var sPageURL = decodeURIComponent(window.location.search.substring(1)),
                sURLVariables = sPageURL.split('&'),
                sParameterName,
                i;

            for (i = 0; i < sURLVariables.length; i++) {
                sParameterName = sURLVariables[i].split('=');

                if (sParameterName[0] === sParam) {
                    return sParameterName[1] === undefined ? true : sParameterName[1];
                }
            }
        };
        
        var addChartForUser = function(name, userId) {
            var chartId = "chart" + userId;
            document.getElementById("charts").innerHTML += ` <div class="col-lg-4">
                      <div class="panel panel-default">
                            <div class="panel-heading">
                                ` + name + "(" + userId + ")" + `
                            </div>
                      <div class="panel-body">
                        <div id="` + chartId + `"></div>
                      </div>
                      </div>
                  </div>`;
            
            $.get("/pointsperweek?id=" + userId, function(data1, status){
                $("morris-line-chart").empty()
                
                Morris.Line({
                    element: chartId,
                    data: data1,
                    xkey: 'Week',
                    ykeys: ['Points'],
                    labels: ['Points'],
                    //hideHover: 'auto',
                    resize: true
                });
                
                
            });
            
            
        }
        
//        addChartForUser(192);
//        addChartForUser(193);
//        addChartForUser(195);
//        
//        addChartForUser(197);
        
        var groupId = getUrlParameter("id");
        
        if(groupId) {
            $.get("/usersingroup?id=" + groupId, function(data1, status){
                for(i = 0; i < data1.length; i++) {
                    addChartForUser(data1[i].FirstName + " " + data1[i].LastName, data1[i].Id);
                }
            });
            
        }
        
    </script>


     <!-- END PAGE LEVEL SCRIPTS -->
</body>
     <!-- END BODY -->
</html>
