{{ define "menu" }}

<!-- MENU SECTION -->
       <div id="left">
            <div class="media user-media well-small">
                <a class="user-link" href="#">
                    <img class="media-object img-thumbnail user-img" alt="User Picture" src="assets/img/user.png" />
                </a>
                <!--br />
                <div class="media-body">
                    <h5 class="media-heading"> Joe Romlin</h5>
                    <ul class="list-unstyled user-info">
                        
                        <li>
                             <a class="btn btn-success btn-xs btn-circle" style="width: 10px;height: 12px;"></a> Online
                           
                        </li>
                       
                    </ul>
                </div>
                <br /-->
            </div>

            <ul id="menu" class="collapse">
  
              {{if eq .Role "user"}} 
                <li class="panel">
                    <a href="index.html" >
                        <i class="icon-table"></i> Dashboard
                    </a>                   
                </li>
                {{end}}
                <li class="panel">
                    <a href="groups.html" >
                        <i class="icon-table"></i> Groups
                    </a>                   
                </li>
                 <li class="panel">
                    <a href="assignments.html" >
                        <i class="icon-table"></i> Assignments
                    </a>                   
                </li>
              {{if eq .Role "admin"}} 
              <li class="panel">
                    <a href="problems.html" >
                        <i class="icon-table"></i> Problems
                    </a>                   
                </li>
               <li class="panel">
                    <a href="studentprogress.html" >
                        <i class="icon-table"></i> Student Progress
                    </a>                   
                </li>
               <li class="panel">
                    <a href="users.html" >
                        <i class="icon-table"></i> Users
                    </a>                   
                </li>
                {{end}}
  
              {{if eq .Role "teacher"}} 
              <li class="panel">
                    <a href="problems.html" >
                        <i class="icon-table"></i> Problems
                    </a>                   
                </li>
               <li class="panel">
                    <a href="studentprogress.html" >
                        <i class="icon-table"></i> Student Progress
                    </a>                   
                </li>
              {{end}}
            </ul>

        </div>
        <!--END MENU SECTION -->

{{ end }}
